body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(fundo/gif.gif);
    background-size: cover;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -250px;
}

button {
    padding: 20px 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #940707;
    color: white;
}

button:hover {
    background-color: #caae0b;
}

.hidden {
    display: none;
}
